openapi: 3.0.3
info:
  title: 'Package 2 Day'
  description: ''
  version: 1.0.0
servers:
  -
    url: 'http://pkg2day.com'
paths:
  /api/v1/client/store-address:
    post:
      summary: 'Add new address Endpoint'
      description: "This endpoint allows you to add commonly used addresses for user.\nTo add new addresses you need access_token generated by this authentication endpoints."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"status\": true,\n     \"message\": \"Address is created successfully!\",\n }"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Client Addresses'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                first_name:
                  type: string
                  description: 'First name of the person.'
                  example: John
                last_name:
                  type: string
                  description: 'Last name of the person.'
                  example: Panda
                company_name:
                  type: string
                  description: 'Company name for address.'
                  example: 'Google LLC'
                street_address:
                  type: string
                  description: 'Valid address with street location.'
                  example: 'Jinnah Avenue near Zero Point'
                coordinates:
                  type: string
                  description: 'Coordinates (Lat, long) of the selected address (Json array).'
                  example: '{"lat": "57886", "lng": "23112"}'
                zip_code:
                  type: integer
                  description: 'Zip code of the mentioned town or city.'
                  example: 64200
                city:
                  type: string
                  description: 'City of the mentioned address.'
                  example: Islamabad
                street_address2:
                  type: string
                  description: 'optional Valid address with street location (Line 2).'
                  example: 'Front of Jinnah Park'
              required:
                - first_name
                - last_name
                - company_name
                - street_address
                - coordinates
                - zip_code
                - city
      security: []
  /api/v1/client/get-addresses:
    get:
      summary: 'Get Customer address Endpoint'
      description: "This endpoint allows you to fetch all addresses created by Client.\nTo add new addresses you need access_token generated by this authentication endpoints."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"status\": true,\n     \"message\": \"Address is created successfully!\",\n }"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Client Addresses'
      security: []
  /api/v1/client/register:
    post:
      summary: 'Register Endpoint'
      description: "This endpoint allows you to register client and generate token for authentication.\nAlong token client details will be displayed. To call authorized endpoints you need access_token generated by this endpoint."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  data:
                    name: Panda
                    email: panda@gmail.com
                    id: 2
                  access_token: 14|wiazS1DtHNXIWDToygChQD84uqU9HwVaU10nWVia
                  token_type: Bearer
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    example:
                      name: Panda
                      email: panda@gmail.com
                      id: 2
                  access_token:
                    type: string
                    example: 14|wiazS1DtHNXIWDToygChQD84uqU9HwVaU10nWVia
                  token_type:
                    type: string
                    example: Bearer
      tags:
        - 'Client Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the client.'
                  example: 'John Panda'
                email:
                  type: email
                  description: 'The valid email of the client.'
                  example: john@example.com
                password:
                  type: string
                  description: 'The password of the client.'
                  example: secret
              required:
                - name
                - email
                - password
      security: []
  /api/v1/client/login:
    post:
      summary: 'Login Endpoint'
      description: "This endpoint allows you to generate token of client after authentication.\nAlong token client details will be displayed. To call authorized endpoints you need access_token generated by this endpoint."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'You have successfully logged in!'
                  access_token: 13|JQHbQK8QuNHCzwztR30u2ogiBxuZNSBwJhZX8sop
                  token_type: Bearer
                  data:
                    id: 1
                    name: 'John Panda'
                    email: panda@gmail.com
                    status: 1
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'You have successfully logged in!'
                  access_token:
                    type: string
                    example: 13|JQHbQK8QuNHCzwztR30u2ogiBxuZNSBwJhZX8sop
                  token_type:
                    type: string
                    example: Bearer
                  data:
                    type: object
                    example:
                      id: 1
                      name: 'John Panda'
                      email: panda@gmail.com
                      status: 1
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: false
                  message: 'These credentials do not match our records!'
                properties:
                  status:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'These credentials do not match our records!'
      tags:
        - 'Client Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: email
                  description: 'The valid email of the client.'
                  example: testuser@example.com
                password:
                  type: string
                  description: 'The password of the client.'
                  example: secret
              required:
                - email
                - password
      security: []
  /api/v1/client/logout:
    post:
      summary: 'Logout Endpoint'
      description: "This endpoint allows you to remove client token generated for authentication to logout user.\nTo logout token must be required in header otherwise client will be Unauthenticated."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer $token'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'You have successfully logged out!'
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'You have successfully logged out!'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Client Authentication'
      security: []
  /api/v1/client/forgot-password:
    post:
      summary: 'Forgot Password Endpoint'
      description: "This endpoint allows you to send request for forgot password.\nTo make request user must be registered with system and have a valid email. After request\nuser will receive email with password reset link."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'We have e-mailed your password reset link!'
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'We have e-mailed your password reset link!'
        422:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: false
                  errors:
                    email:
                      - 'User with this email does not exists.'
                properties:
                  status:
                    type: boolean
                    example: false
                  errors:
                    type: object
                    example:
                      email:
                        - 'User with this email does not exists.'
      tags:
        - 'Client Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: email
                  description: 'The valid email of the client.'
                  example: testuser@example.com
              required:
                - email
      security: []
  /api/v1/client/profile-update:
    post:
      summary: 'Profile update Endpoint'
      description: "This endpoint allows you to update profile of user.\nTo update profile data you need access_token generated by this authentication endpoints."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"status\": true,\n     \"message\": \"Your profile has been updated!\",\n }"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Client Authentication'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                image:
                  type: image
                  description: 'optional Image should be less than 2MB and contains mentioned extensions (jpeg,png,jpg)'
                  example: ipsam
                name:
                  type: string
                  description: 'optional Full name of the client.'
                  example: 'John Panda'
                phone:
                  type: string
                  description: 'optional Valid phone number the client (International format).'
                  example: '+91234567890'
                address:
                  type: string
                  description: 'optional Valid full address of the client.'
                  example: 'Street 1, Main Block, XYZ'
      security: []
  /api/v1/client/store-device-token:
    post:
      summary: 'Device Token Store Endpoint'
      description: 'This endpoint allows you to store device token to send notifications to the customers.'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'Device token has been stored!'
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Device token has been stored!'
        401:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n      \"message\": \"Unauthenticated\",\n }\n }"
      tags:
        - 'Client Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'The token generated from OneSignal SDK of the client.'
                  example: quod
              required:
                - token
      security: []
  /api/v1/client/social-login:
    post:
      summary: 'Social Login Endpoint'
      description: 'This endpoint allows you to authorize by social account like facebook and google.'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'You have successfully logged in!'
                  access_token: 26|Jweprv2xDC8Qfah9ystGJA8NHn8VrLfTr2PttPg2
                  token_type: Bearer
                  data:
                    id: 6
                    name: 'Sharon Alggeabdhccfj Occhinosen'
                    email: RIYJNbKp
                    email_verified_at: null
                    phone: null
                    country: null
                    city: null
                    address: null
                    gender: null
                    image: null
                    status: 1
                    created_at: '2022-01-25T18:03:50.000000Z'
                    updated_at: '2022-01-25T18:03:50.000000Z'
                    fb_id: '105785355348547'
                    google_id: null
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'You have successfully logged in!'
                  access_token:
                    type: string
                    example: 26|Jweprv2xDC8Qfah9ystGJA8NHn8VrLfTr2PttPg2
                  token_type:
                    type: string
                    example: Bearer
                  data:
                    type: object
                    example:
                      id: 6
                      name: 'Sharon Alggeabdhccfj Occhinosen'
                      email: RIYJNbKp
                      email_verified_at: null
                      phone: null
                      country: null
                      city: null
                      address: null
                      gender: null
                      image: null
                      status: 1
                      created_at: '2022-01-25T18:03:50.000000Z'
                      updated_at: '2022-01-25T18:03:50.000000Z'
                      fb_id: '105785355348547'
                      google_id: null
      tags:
        - 'Client Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                driver:
                  type: string
                  description: 'Social driver is required.'
                  example: facebook
                token:
                  type: string
                  description: 'Access token generated by social login SDK.'
                  example: in
              required:
                - driver
                - token
      security: []
  /api/v1/client/get-notifications:
    get:
      summary: 'Customer Notifications'
      description: "This endpoint allows you to get notification of the authenticated customer.\nTo get notifications you need token from Auth end points."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'Notifications found!'
                  data:
                    message: 'Your shipment with Tracking# SH-PPVE1BQ has been cancelled. For reason check Shipment detaIls!'
                    notified_at: '36 minutes ago'
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Notifications found!'
                  data:
                    type: object
                    example:
                      message: 'Your shipment with Tracking# SH-PPVE1BQ has been cancelled. For reason check Shipment detaIls!'
                      notified_at: '36 minutes ago'
        401:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n      \"message\": \"Unauthenticated\",\n }\n }"
      tags:
        - 'Client Authentication'
      security: []
  /api/v1/driver/register:
    post:
      summary: 'Register Endpoint'
      description: "This endpoint allows you to register driver and generate token for authentication.\nAlong token driver details will be displayed. To call authorized endpoints you need access_token generated by this endpoint."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  data:
                    name: Lucy
                    email: lucy@gmail.com
                    id: 2
                  access_token: 14|wiazS1DtHNXIWDToygChQD84uqU9HwVaU10nWVia
                  token_type: Bearer
                properties:
                  status:
                    type: boolean
                    example: true
                  data:
                    type: object
                    example:
                      name: Lucy
                      email: lucy@gmail.com
                      id: 2
                  access_token:
                    type: string
                    example: 14|wiazS1DtHNXIWDToygChQD84uqU9HwVaU10nWVia
                  token_type:
                    type: string
                    example: Bearer
      tags:
        - 'Driver Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
                  description: 'The name of the driver.'
                  example: 'Lucy Mark'
                email:
                  type: email
                  description: 'The valid email of the driver.'
                  example: lucy@example.com
                password:
                  type: string
                  description: 'The password of the driver.'
                  example: secret
              required:
                - name
                - email
                - password
      security: []
  /api/v1/driver/logout:
    post:
      summary: 'Logout Endpoint'
      description: "This endpoint allows you to remove driver token generated for authentication to logout user.\nTo logout token must be required in header otherwise driver will be Unauthenticated."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer $token'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'You have successfully logged out!'
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'You have successfully logged out!'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Driver Authentication'
      security: []
  /api/v1/driver/login:
    post:
      summary: 'Login Endpoint'
      description: "This endpoint allows you to generate token of driver after authentication.\nAlong token driver details will be displayed. To call authorized endpoints you need access_token generated by this endpoint."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'You have successfully logged in!'
                  access_token: 13|JQHbQK8QuNHCzwztR30u2ogiBxuZNSBwJhZX8sop
                  token_type: Bearer
                  data:
                    id: 1
                    name: 'John Panda'
                    email: panda@gmail.com
                    status: 1
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'You have successfully logged in!'
                  access_token:
                    type: string
                    example: 13|JQHbQK8QuNHCzwztR30u2ogiBxuZNSBwJhZX8sop
                  token_type:
                    type: string
                    example: Bearer
                  data:
                    type: object
                    example:
                      id: 1
                      name: 'John Panda'
                      email: panda@gmail.com
                      status: 1
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: false
                  message: 'These credentials do not match our records!'
                properties:
                  status:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'These credentials do not match our records!'
        403:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: false
                  message: 'Your account is not verified. Contact support!'
                properties:
                  status:
                    type: boolean
                    example: false
                  message:
                    type: string
                    example: 'Your account is not verified. Contact support!'
      tags:
        - 'Driver Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: email
                  description: 'The valid email of the driver.'
                  example: driver@example.com
                password:
                  type: string
                  description: 'The password of the driver.'
                  example: secret
              required:
                - email
                - password
      security: []
  /api/v1/driver/profile-update:
    post:
      summary: 'Profile update Endpoint'
      description: "This endpoint allows you to update profile of user.\nTo update profile data you need access_token generated by this authentication endpoints."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"status\": true,\n     \"message\": \"Your profile has been updated!\",\n }"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Driver Authentication'
      requestBody:
        required: false
        content:
          application/json:
            schema:
              type: object
              properties:
                image:
                  type: image
                  description: 'optional Image should be less than 2MB and contains mentioned extensions (jpeg,png,jpg)'
                  example: voluptatibus
                name:
                  type: string
                  description: 'optional Full name of the driver.'
                  example: 'John Panda'
                phone:
                  type: string
                  description: 'optional Valid phone number the driver (International format).'
                  example: '+91234567890'
                address:
                  type: string
                  description: 'optional Valid full address of the driver.'
                  example: 'Street 1, Main Block, XYZ'
                city:
                  type: string
                  description: 'optional City name of the driver'
                  example: rerum
                country:
                  type: string
                  description: 'optional Country name of the driver'
                  example: magni
                gender:
                  type: string
                  description: 'optional Gender of the driver'
                  example: quo
      security: []
  /api/v1/driver/store-device-token:
    post:
      summary: 'Device Token Store Endpoint'
      description: 'This endpoint allows you to store device token to send notifications to the drivers.'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'Device token has been stored!'
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Device token has been stored!'
        401:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n      \"message\": \"Unauthenticated\",\n }\n }"
      tags:
        - 'Driver Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                token:
                  type: string
                  description: 'The token generated from OneSignal SDK of the driver.'
                  example: voluptate
              required:
                - token
      security: []
  /api/v1/driver/change-status:
    post:
      summary: 'Driver Status Endpoint'
      description: "This endpoint allows you to online/offline it's availability.\nTo do this need authorization token."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer $token'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'Status has been changed!'
                  current_status: 1
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Status has been changed!'
                  current_status:
                    type: integer
                    example: 1
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Driver Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: boolean
                  description: 'The status need be 1 when online and 0 when offline.'
                  example: true
              required:
                - status
      security: []
  /api/v1/driver/save-location:
    post:
      summary: 'Driver Location Update Endpoint'
      description: "This endpoint allows you to update driver recent location coordinates.\nTo do this need authorization token."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Authorization
          description: ''
          example: 'Bearer $token'
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'Driver location has been updated!!'
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Driver location has been updated!!'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Driver Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                lat:
                  type: number
                  description: 'The latitude of the current location of driver.'
                  example: 5.693
                lng:
                  type: number
                  description: 'The longitude of the current location of driver.'
                  example: 25421750.97
              required:
                - lat
                - lng
      security: []
  /api/v1/driver/get-broadcasted-shipments:
    get:
      summary: 'Get Broadcasted shipments Endpoint'
      description: 'This endpoint allows you to fetch all shipments created near driver.'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"status\": true,\n     \"message\": \"Address is created successfully!\",\n }"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Driver Authentication'
      security: []
  /api/v1/driver/driver-shipment-status:
    post:
      summary: 'Accept or Reject shipments Endpoint'
      description: 'This endpoint to accept or reject a broadcasted shipment.'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"status\": true,\n     \"message\": \"Address is created successfully!\",\n }"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Driver Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipment_id:
                  type: integer
                  description: 'ID of shipment.'
                  example: 11
                status:
                  type: string
                  description: 'The status of the shipment by driver.'
                  example: architecto
              required:
                - shipment_id
                - status
      security: []
  /api/v1/driver/get-assigned-shipments:
    post:
      summary: 'Get Driver shipments Endpoint'
      description: 'This endpoint allows you to fetch all shipments created near driver.'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"status\": true,\n     \"message\": \"Address is created successfully!\",\n }"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Driver Authentication'
      security: []
  /api/v1/driver/pickup-or-complete:
    post:
      summary: 'Pickup or Deliver shipments Endpoint'
      description: 'This endpoint to accept or reject a broadcasted shipment.'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"status\": true,\n     \"message\": \"Address is created successfully!\",\n }"
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - 'Driver Authentication'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipment_id:
                  type: integer
                  description: 'ID of shipment.'
                  example: 8
                status:
                  type: string
                  description: 'The status of the shipment by driver (picked_up, completed).'
                  example: ut
              required:
                - shipment_id
                - status
      security: []
  /api/v1/settings:
    get:
      summary: 'Project Settings Endpoint'
      description: 'This endpoint allows you to get default settings of the project.'
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'Driver location has been updated!!'
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Driver location has been updated!!'
        401:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  message: Unauthenticated.
                properties:
                  message:
                    type: string
                    example: Unauthenticated.
      tags:
        - Settings
      security: []
  /api/v1/client/get-vehicles:
    get:
      summary: 'Get Active Vehicles Endpoint'
      description: "This endpoint allows you to get active vehicles along their charges.\nTo get active vehicles you need access_token generated by this authentication endpoints."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  vehicles:
                    -
                      id: 1
                      reg_no: KAI-1534312
                      name: Nissan
                      image: null
                      fixed_charges: 12
                      over_time_charges: 10
                      over_range_charges_type: distance_wise
                      over_range_charges: 10
                      working_hours:
                        id: 1
                        vehicle_id: 1
                        sunday: 1
                        sunday_open: '00:00:00'
                        sunday_close: '06:25:00'
                        monday: 1
                        monday_open: '00:00:00'
                        monday_close: '23:59:00'
                        tuesday: 0
                        tuesday_open: '00:00:00'
                        tuesday_close: '22:00:00'
                        wednesday: 0
                        wednesday_open: '00:00:00'
                        wednesday_close: '23:59:00'
                        thursday: 0
                        thursday_open: '00:00:00'
                        thursday_close: '23:59:00'
                        friday: 1
                        friday_open: '00:00:00'
                        friday_close: '23:59:00'
                        saturday: 1
                        saturday_open: '00:00:00'
                        saturday_close: '23:59:00'
                properties:
                  status:
                    type: boolean
                    example: true
                  vehicles:
                    type: array
                    example:
                      -
                        id: 1
                        reg_no: KAI-1534312
                        name: Nissan
                        image: null
                        fixed_charges: 12
                        over_time_charges: 10
                        over_range_charges_type: distance_wise
                        over_range_charges: 10
                        working_hours:
                          id: 1
                          vehicle_id: 1
                          sunday: 1
                          sunday_open: '00:00:00'
                          sunday_close: '06:25:00'
                          monday: 1
                          monday_open: '00:00:00'
                          monday_close: '23:59:00'
                          tuesday: 0
                          tuesday_open: '00:00:00'
                          tuesday_close: '22:00:00'
                          wednesday: 0
                          wednesday_open: '00:00:00'
                          wednesday_close: '23:59:00'
                          thursday: 0
                          thursday_open: '00:00:00'
                          thursday_close: '23:59:00'
                          friday: 1
                          friday_open: '00:00:00'
                          friday_close: '23:59:00'
                          saturday: 1
                          saturday_open: '00:00:00'
                          saturday_close: '23:59:00'
                    items:
                      type: object
        404:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n     \"status\": false,\n     \"vehicles\": null,\n  }"
      tags:
        - Shipments
      security: []
  /api/v1/client/get-delivery-charges:
    post:
      summary: 'Calculate Delivery Charges Endpoint'
      description: "This endpoint allows you to calculate charges base on vehicle and user addresses.\nTo call authorized endpoints you need access_token generated by authentication endpoints."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'Charges has been calculated'
                  vehicle_charges:
                    fixed_charges: '12.00'
                    overtime_charges: 0
                    over_range_charges: 0
                  delivery_charges:
                    one_day_delivery_charges: '262.30'
                    two_days_delivery_charges: '131.15'
                    three_days_delivery_charges: '20.00'
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Charges has been calculated'
                  vehicle_charges:
                    type: object
                    example:
                      fixed_charges: '12.00'
                      overtime_charges: 0
                      over_range_charges: 0
                  delivery_charges:
                    type: object
                    example:
                      one_day_delivery_charges: '262.30'
                      two_days_delivery_charges: '131.15'
                      three_days_delivery_charges: '20.00'
      tags:
        - Shipments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vehicle_id:
                  type: integer
                  description: 'The id of the selected vehicle by the client.'
                  example: 3
                pickup_address:
                  type: integer
                  description: 'The id of the pickup address.'
                  example: 2
                drop_address:
                  type: integer
                  description: 'The id of the drop address.'
                  example: 20
              required:
                - vehicle_id
                - pickup_address
                - drop_address
      security: []
  /api/v1/client/create-shipment:
    post:
      summary: 'Create a new Shipment'
      description: "This endpoint allows you to create a new shipment against the logged in user. This endpoint contains Address, Charges and Payment method details.\nTo call authorized endpoints you need access_token generated by authentication endpoints."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n      \"status\": true,\n      \"message\": \"Your shipment has been initiated successfully. You will be informed further!\",\n      \"tracking_no\": SH-HAHY24HS\n\n  }"
      tags:
        - Shipments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                vehicle_id:
                  type: integer
                  description: 'The id of the selected vehicle by the client.'
                  example: 7
                pickup_address:
                  type: integer
                  description: 'The id of the pickup address.'
                  example: 17
                drop_address:
                  type: integer
                  description: 'The id of the drop address.'
                  example: 14
                payment_method:
                  type: string
                  description: 'The payment method (cash or card).'
                  example: laboriosam
                charges:
                  type: array
                  description: 'The array of the charges applied on shipment.'
                  example:
                    distance: 12
                    delivery_charges: 1000
                    vehicle_charges:
                      fixed_charges: '12.00'
                      overtime_charges: 0
                      over_range_charges: 0
                  items:
                    type: string
                total_amount:
                  type: integer
                  description: 'The total amount of the shipment including charges.'
                  example: 19
              required:
                - vehicle_id
                - pickup_address
                - drop_address
                - payment_method
                - charges
                - total_amount
      security: []
  /api/v1/client/get-shipments:
    get:
      summary: 'Customer Shipments'
      description: "This endpoint allows you to get shipments against the logged in user.\nTo call authorized endpoints you need access_token generated by authentication endpoints."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            text/plain:
              schema:
                type: string
                example: "{\n      \"status\": true,\n      \"message\": \"Data fetched!\",\n      \"shipments\": [\n  {\n      \"id\": 8,\n      \"tracking_no\": \"SH-5AXEZAO\",\n      \"customer_id\": 5,\n      \"vehicle_id\": 1,\n      \"pickup_address\": 1,\n      \"drop_address\": 1,\n      \"distance\": 12,\n      \"total_amount\": 12.2,\n     \"payment_method\": \"cash\",\n      \"payment_status\": 0,\n      \"status\": \"Pending\",\n      \"shipment_date_time\": \"2022-01-23 17:29:01\",\n      \"delivered_date_time\": null,\n      \"created_at\": \"2022-01-22T14:22:30.000000Z\",\n      \"updated_at\": \"2022-01-22T14:22:30.000000Z\",\n      \"customer\": {\n          \"id\": 5,\n          \"name\": \"John Panda\",\n          \"email\": \"john@example.com\",\n          \"email_verified_at\": null,\n          \"phone\": null,\n          \"country\": null,\n          \"city\": null,\n          \"address\": null,\n          \"gender\": null,\n          \"image\": null,\n          \"status\": 1,\n          \"created_at\": \"2022-01-15T12:57:05.000000Z\",\n          \"updated_at\": \"2022-01-15T12:57:05.000000Z\"\n      },\n      \"vehicle\": {\n          \"id\": 1,\n          \"reg_no\": \"KAI-1534312\",\n          \"name\": \"Nissan\",\n          \"image\": null,\n          \"fixed_charges\": 12,\n          \"over_time_charges\": 10,\n          \"over_range_charges_type\": \"distance_wise\",\n          \"over_range_charges\": 10,\n          \"status\": true,\n          \"created_at\": \"2022-01-10T15:23:25.000000Z\",\n          \"updated_at\": \"2022-01-16T18:38:52.000000Z\"\n      },\n      \"pickup_location\": {\n         \"id\": 1,\n         \"customer_id\": 5,\n         \"first_name\": \"John\",\n          \"last_name\": \"Panda\",\n          \"company_name\": \"Google LLC\",\n          \"street_address\": \"Jinnah Avenue near Zero Point\",\n          \"street_address2\": \"Front of Jinnah Park\",\n          \"city\": \"Islamabad\",\n          \"zip_code\": 64200,\n          \"created_at\": \"2022-01-15T12:59:05.000000Z\",\n          \"updated_at\": \"2022-01-15T12:59:05.000000Z\",\n          \"coordinates\": \"{\\\"lat\\\":\\\"28.4212\\\",\\\"lng\\\":\\\"70.2989\\\"}\"\n      },\n      \"drop_location\": {\n          \"id\": 1,\n          \"customer_id\": 5,\n          \"first_name\": \"John\",\n          \"last_name\": \"Panda\",\n          \"company_name\": \"Google LLC\",\n          \"street_address\": \"Jinnah Avenue near Zero Point\",\n          \"street_address2\": \"Front of Jinnah Park\",\n          \"city\": \"Islamabad\",\n          \"zip_code\": 64200,\n          \"created_at\": \"2022-01-15T12:59:05.000000Z\",\n          \"updated_at\": \"2022-01-15T12:59:05.000000Z\",\n          \"coordinates\": \"{\\\"lat\\\":\\\"28.4212\\\",\\\"lng\\\":\\\"70.2989\\\"}\"\n      },\n      \"shipment_charges\": {\n          \"id\": 3,\n          \"shipment_id\": 8,\n          \"delivery_charges\": 1000,\n          \"vehicle_fixed_charges\": 12,\n          \"vehicle_overtime_charges\": 0,\n          \"vehicle_over_range_charges\": 0,\n          \"created_at\": \"2022-01-22T14:22:30.000000Z\",\n          \"updated_at\": \"2022-01-22T14:22:30.000000Z\"\n      }\n  }\n\n  }\n]"
      tags:
        - Shipments
      security: []
  /api/v1/client/get-shipment-by-id:
    post:
      summary: 'Customer Shipment Detail'
      description: "This endpoint allows you to get shipment detail against the shipment id.\nTo call authorized endpoints you need access_token generated by authentication endpoints."
      parameters:
        -
          in: header
          name: Content-Type
          description: ''
          example: application/json
          schema:
            type: string
        -
          in: header
          name: Accept
          description: ''
          example: application/json
          schema:
            type: string
      responses:
        200:
          description: ''
          content:
            application/json:
              schema:
                type: object
                example:
                  status: true
                  message: 'Data fetched!'
                  shipment:
                    id: 8
                    tracking_no: SH-5AXEZAO
                    customer_id: 5
                    vehicle_id: 1
                    pickup_address: 1
                    drop_address: 1
                    distance: 12
                    total_amount: 12.2
                    payment_method: cash
                    payment_status: 0
                    status: Pending
                    shipment_date_time: '2022-01-23 17:29:01'
                    delivered_date_time: null
                    created_at: '2022-01-22T14:22:30.000000Z'
                    updated_at: '2022-01-22T14:22:30.000000Z'
                    customer:
                      id: 5
                      name: 'John Panda'
                      email: john@example.com
                      email_verified_at: null
                      phone: null
                      country: null
                      city: null
                      address: null
                      gender: null
                      image: null
                      status: 1
                      created_at: '2022-01-15T12:57:05.000000Z'
                      updated_at: '2022-01-15T12:57:05.000000Z'
                    vehicle:
                      id: 1
                      reg_no: KAI-1534312
                      name: Nissan
                      image: null
                      fixed_charges: 12
                      over_time_charges: 10
                      over_range_charges_type: distance_wise
                      over_range_charges: 10
                      status: true
                      created_at: '2022-01-10T15:23:25.000000Z'
                      updated_at: '2022-01-16T18:38:52.000000Z'
                    pickup_location:
                      id: 1
                      customer_id: 5
                      first_name: John
                      last_name: Panda
                      company_name: 'Google LLC'
                      street_address: 'Jinnah Avenue near Zero Point'
                      street_address2: 'Front of Jinnah Park'
                      city: Islamabad
                      zip_code: 64200
                      created_at: '2022-01-15T12:59:05.000000Z'
                      updated_at: '2022-01-15T12:59:05.000000Z'
                      coordinates: '{"lat":"28.4212","lng":"70.2989"}'
                    drop_location:
                      id: 1
                      customer_id: 5
                      first_name: John
                      last_name: Panda
                      company_name: 'Google LLC'
                      street_address: 'Jinnah Avenue near Zero Point'
                      street_address2: 'Front of Jinnah Park'
                      city: Islamabad
                      zip_code: 64200
                      created_at: '2022-01-15T12:59:05.000000Z'
                      updated_at: '2022-01-15T12:59:05.000000Z'
                      coordinates: '{"lat":"28.4212","lng":"70.2989"}'
                    shipment_charges:
                      id: 3
                      shipment_id: 8
                      delivery_charges: 1000
                      vehicle_fixed_charges: 12
                      vehicle_overtime_charges: 0
                      vehicle_over_range_charges: 0
                      created_at: '2022-01-22T14:22:30.000000Z'
                      updated_at: '2022-01-22T14:22:30.000000Z'
                properties:
                  status:
                    type: boolean
                    example: true
                  message:
                    type: string
                    example: 'Data fetched!'
                  shipment:
                    type: object
                    example:
                      id: 8
                      tracking_no: SH-5AXEZAO
                      customer_id: 5
                      vehicle_id: 1
                      pickup_address: 1
                      drop_address: 1
                      distance: 12
                      total_amount: 12.2
                      payment_method: cash
                      payment_status: 0
                      status: Pending
                      shipment_date_time: '2022-01-23 17:29:01'
                      delivered_date_time: null
                      created_at: '2022-01-22T14:22:30.000000Z'
                      updated_at: '2022-01-22T14:22:30.000000Z'
                      customer:
                        id: 5
                        name: 'John Panda'
                        email: john@example.com
                        email_verified_at: null
                        phone: null
                        country: null
                        city: null
                        address: null
                        gender: null
                        image: null
                        status: 1
                        created_at: '2022-01-15T12:57:05.000000Z'
                        updated_at: '2022-01-15T12:57:05.000000Z'
                      vehicle:
                        id: 1
                        reg_no: KAI-1534312
                        name: Nissan
                        image: null
                        fixed_charges: 12
                        over_time_charges: 10
                        over_range_charges_type: distance_wise
                        over_range_charges: 10
                        status: true
                        created_at: '2022-01-10T15:23:25.000000Z'
                        updated_at: '2022-01-16T18:38:52.000000Z'
                      pickup_location:
                        id: 1
                        customer_id: 5
                        first_name: John
                        last_name: Panda
                        company_name: 'Google LLC'
                        street_address: 'Jinnah Avenue near Zero Point'
                        street_address2: 'Front of Jinnah Park'
                        city: Islamabad
                        zip_code: 64200
                        created_at: '2022-01-15T12:59:05.000000Z'
                        updated_at: '2022-01-15T12:59:05.000000Z'
                        coordinates: '{"lat":"28.4212","lng":"70.2989"}'
                      drop_location:
                        id: 1
                        customer_id: 5
                        first_name: John
                        last_name: Panda
                        company_name: 'Google LLC'
                        street_address: 'Jinnah Avenue near Zero Point'
                        street_address2: 'Front of Jinnah Park'
                        city: Islamabad
                        zip_code: 64200
                        created_at: '2022-01-15T12:59:05.000000Z'
                        updated_at: '2022-01-15T12:59:05.000000Z'
                        coordinates: '{"lat":"28.4212","lng":"70.2989"}'
                      shipment_charges:
                        id: 3
                        shipment_id: 8
                        delivery_charges: 1000
                        vehicle_fixed_charges: 12
                        vehicle_overtime_charges: 0
                        vehicle_over_range_charges: 0
                        created_at: '2022-01-22T14:22:30.000000Z'
                        updated_at: '2022-01-22T14:22:30.000000Z'
      tags:
        - Shipments
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                shipment_id:
                  type: integer
                  description: 'The id of the selected shipment by the client.'
                  example: 5
              required:
                - shipment_id
      security: []
tags:
  -
    name: 'Client Addresses'
    description: "\nAPI endpoints for managing clients addresses"
  -
    name: 'Client Authentication'
    description: "\nAPI endpoints for managing clients authentication"
  -
    name: 'Driver Authentication'
    description: "\nAPI endpoints for managing drivers authentication"
  -
    name: Settings
    description: "\nAPI endpoints for fetching settings."
  -
    name: Shipments
    description: "\nAPI endpoints for managing shipments controls"
